body {
  background-color: #efefef;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.members-table .me {
  background-color: lightblue;
}

.members-table .next-pick th:before {
  content: '\BB';
}
