.page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.members-table .me th:before {
  content: '\BB';
}

.members-table .next-pick {
  background-color: lightblue !important;
}
